[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
tqdm = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
yfinance = "*"
argparse = "*"
stable-baselines3 = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.e1839a8]
path = "."
editable = true

[packages.0922c58]
path = "./rl_stocks"
editable = true
